* {
    margin: 0 auto;
    padding: 0;
}

body{
    height: 100vh;
    
}


/* START BUTTONS */

.btn{
    display: flex;
}

[class^=button] {
    padding: 15px 40px;
    border: none;
    color: white;
    margin-top: 15px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.25);
    color: white;
}

.button-blue{
    background-color: white;
    background-color: #2196F3;     
}

.button-blue:hover{
    background-color: #1976D2;
}

.button-red{
    background-color: #EC407A;

}

.button-red:hover{
    background-color: #C2185B;

}
 
.button-green{
    background-color: #66BB6A;
}

.button-green:hover{
    background-color: #388E3C;
}

.button-purple{
    background-color: #AB47BC;
}

.button-purple:hover{
    background-color: #7B1FA2;
}

/* END BUTTONS*/

